.receipt {
    margin: 0em auto;
    width: 90%;
    height: 100vh;
    box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.1);
    padding-top: 5em;

    .receipt-h1 {
        text-align: center;
        padding-top: 2em;
    }

    .list_receipt {
        width: 85%;
        margin: auto;
    }
}