* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: $ff_all;
}

.modal-backdrop.show{
    z-index: 1;
    opacity: 1;
}
// .modal-content{
//     width: 1440px;
// }