.home_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .home_page_content {
        width: 100%;
        min-width: 1440px;
        height: 100%;

        .home_page_content_body {
            height: 100%;
        }
    }
}