.before_nav {
    background-color: $color_tertiary;
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 1em;
    position: sticky;
    top: 0;
    z-index: 1;

    .before_nav_content {
        width: 1440px;
        height: 100%;
        display: grid;
        grid-template-columns: 450px 600px 450px;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        margin-top: 5px;

        .before_nav_content_left {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-size: 1em;
            margin-left: 50px;
    
            .feature_textname {

                .feature_textname_main a{
                    display: flex;
                    // justify-content: center;
                    position: relative;
                }
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    // margin-left: 265px;
                    margin-bottom: 60px;
                }
    
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.9em;
                    // margin-top: 10px;
                    margin-left: 30px;
                    margin-bottom: 15px;
                }
    
                .feature_textname_a {
                    text-decoration: none;
                    color: #000;
                    margin-left: 10px;
                    // margin-bottom: 10px;
                }
    
                .feature_item_login_register {
                    // margin-left: 180px;
                    margin-bottom: 15px;
    
                    a {
                        text-decoration: none !important;
                        color: #000;
                    }
    
                    .feature_item {
                        font-size: 0.9em;
                        border-right: 2px solid #000;
                        width: 100%;
                        margin-right: 10px;
                        text-align:left;
                        cursor: pointer;
                        padding-right: 50px;
                        margin-left: 30px;
    
                        &:hover {
                            transform: scale(1.1);
                        }
    
                            &:last-child {
                                border: unset;
                                text-align: right;
                                max-width: 50px;
                            // padding-left: 50px;
    
                        }
                    }
                }
    
            }
    
    
    
        }
        

        .before_nav_content_middle {
            font-size: 0.9em;
            text-transform: uppercase;
            // margin-top: 15px;
            text-align: center;
        }

        .before_nav_content_right {}
        text-align: right;
        margin-right: 100px;
        
    }
}

