.before_nav {
    background-color: $color_tertiary;
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 1em;
    position: sticky;
    top: 0;
    z-index: 9999;

    .before_nav_content {
        width: 1440px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;

        .before_nav_content_left {
            font-size: 0.9em;
            text-transform: uppercase;
            margin-top: 15px;
        }

        .brand_name {
            text-transform: uppercase;
            font-size: 1em;
            // font-family: $f_brand;
        }

        .feature {
            display: flex;
            width: 32%;
            justify-content: space-between;
            font-size: 1em;

            .feature_textname {

                // margin-bottom: 15px;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    margin-left: 265px;
                    margin-bottom: 50px;
                }

                p {
                    font-size: 0.7em;
                    margin-top: 15px;
                    margin-left: 300px;
                    margin-bottom: 15px;
                }

                .feature_textname_a {
                    text-decoration: none;
                    color: #fff;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }

                .feature_item_login_register {
                    margin-left: 180px;
                    // margin-bottom: 8px;

                    a {
                        text-decoration: none !important;
                        color: #fff;
                    }

                    .feature_item {
                        font-size: 0.7em;
                        border-right: 2px solid #fff;
                        width: 100%;
                        margin-right: 10px;
                        text-align: right;
                        cursor: pointer;
                        padding-right: 50px;
                        margin-left: 30px;

                        &:hover {
                            transform: scale(1.1);
                        }

                        &:last-child {
                            border: unset;
                            text-align: right;
                            max-width: 50px;
                            // padding-left: 50px;

                        }
                    }
                }

            }



        }
    }
}